@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face{
    font-family:"Larsseit";
    src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
.text{
    font-family: "Lato";
}
.font{
    font-family: "Larsseit";
}